.geo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 1.5rem;
}

.map {
  width: 95%;
  min-height: 65rem;
  border-radius: 2.5rem;
  box-shadow: 0 1rem 1rem 0 var(--color-background-form);
}

.coordinates {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 0;
  margin: 0;
  font-weight: bold;
  text-shadow: 0 2px 2px var(--color-background-form);
  list-style: none;

  &_item {
    padding: 0 1rem 0 2rem;
  }
}

@media (max-width: 1280px) {
  .geo {
    width: 100%;
  }
}

@media (max-width: 414px) {
  .coordinates_item {
    padding: 0 0.5rem;
    font-size: 1.8rem;
    line-height: 1.2;
  }
}

@media (max-width: 375px) {
  .coordinates_item {
    padding: 0;
    font-size: 1.4rem;
    line-height: 1;
  }
}
