.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-desktop);
  padding-top: 7rem;
}

#leftBlock,
#rightBlock {
  width: 45%;
  min-height: 60rem;
  backdrop-filter: var(--background-filter);
  border-radius: 3rem;
}

@media (max-width: 1280px) {
  #leftBlock,
  #rightBlock {
    width: 100%;
    margin-bottom: 2rem;
    backdrop-filter: var(--background-filter);
    border-radius: 3rem;
  }

  .container {
    flex-direction: column;
  }
}

@media (max-width: 414px) {
  #leftBlock,
  #rightBlock {
    min-height: 40rem;
  }

  .container {
    padding: 1rem;
  }
}
