.icon {
  width: 20rem;
  height: 20rem;
  background-image: url("/assets/weatherIcons/clear-day.svg");
  background-repeat: no-repeat;
  background-position: center;

  &_small {
    position: absolute;
    top: 0.5rem;
    left: 7rem;
    width: 10rem;
    height: 10rem;
  }

  &_today {
    position: absolute;
    top: 2rem;
    left: 33rem;
  }
}

@media (max-width: 1600px) {
  .icon_today {
    top: 4rem;
    width: 15rem;
    height: 15rem;
  }
}

@media (max-width: 1400px) {
  .icon_today {
    top: 3rem;
    left: 23rem;
    width: 12rem;
    height: 12rem;
  }

  .icon_small {
    left: 6rem;
  }
}

@media (max-width: 1280px) {
  .icon_today {
    top: 1rem;
    left: 33rem;
    width: 15rem;
    height: 15rem;
  }

  .icon_small {
    left: 6rem;
  }
}

@media (max-width: 768px) {
  .icon_today {
    top: 1rem;
    left: 26rem;
    width: 14rem;
    height: 14rem;
  }
}

@media (max-width: 414px) {
  .icon_today {
    top: 1rem;
    left: 10rem;
    width: 9rem;
    height: 9rem;
  }

  .icon_small {
    top: 1rem;
    left: 5rem;
    width: 5rem;
    height: 5rem;
  }
}

@media (max-width: 320px) {
  .icon_today {
    top: 2rem;
    left: 10rem;
    width: 7rem;
    height: 7rem;
  }

  .icon_small {
    top: -1rem;
    left: 3rem;
    width: 5rem;
    height: 5rem;
  }
}
